.storeContainer {
  width: 70vw;
  @media (max-width: 768px) {
    width: 85vw;
  }

  min-height: 15rem;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .content {
    display: flex;
    justify-content: space-between;

    .storeImage {
      width: 10rem;
      height: 10rem;
      border-radius: 100px;
    }

    .details {
      display: flex;
      flex-direction: column;
      width: 50%;

      .title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        .title {
          margin: 0;
        }
      }
    }

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;

      .details {
        width: 100%;
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .countryFlag {
      width: 48px;
    }
  }
}
